body {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  margin: 0px;
}

/*TO CREATE TWO COLUMNS*/

.row{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
}

.column{
  flex:50%;
}

#inputContainer{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}

#outputContainer{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/*TEXT*/

.text {
  text-align: center;
}

/*SUBCONTAINERS*/

#camera_text{
  margin-right: 3.5em; /*Separates "CAMERA IMAGE" text from toggle slider*/
}

#kText{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#timeText{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#cameraText{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

select{
  font-size: 1em; /*Changes font of select element*/
}

input[type="number"] {
  width:5em;
  margin: 1em 1em 1em 1em;
}


/*ALIGNEMENTS*/

.centered{
  display: flex;
  align-items: center; /*vertical*/
  justify-content: center; /*horizontal*/
}

.margin_centered {
  margin-top: 2em;
  margin-bottom: 2em;
}

.alignright{
  text-align: right;
}


/*HEADER*/

.header {
  text-align: center;
  background: rgb(6, 77, 105);
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  margin: 0em 0em 0em 0em;
}

/*VIDEO*/

#cameraobj{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border-radius: 1em;
  width: 20.8em;
  height: 15.625em;
}


/*GRAPHS*/

canvas{
  border-radius: 1em;
  margin:1em 1em 1em 1em;
  background-color: #FFF;
}

/*BUTTONS POSITION/VELOCITY*/

.button {
  /*Letter style*/
  color: black;
  /*From style*/
  background-color: grey;
  padding: 1em 1em;
  border-radius: 1em;
  transition-duration: 0.4s;
  margin-left:0.4em;
  margin-right:0.4em;
  font-size: 1em;
}

.button:hover {
  background-color: white;
  color: black;
}

.buttonStatic{
  /*Letter style*/
  color: black;
  /*From style*/
  background-color: grey;
  padding: 1em 1em;
  border-radius: 1em;
  margin-left:0.4em;
  margin-right:0.4em;
  font-size: 1em;
}

/*SLIDERS*/

.rangeDiv{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  background-color: lightblue;
}

.ranges-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranges-container .range {
  width: 70%;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.ranges-container .range input[type="range"] {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: 1.3em;
  border-radius: 0.7em;
  background: #131212;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb { /*slider's selector*/
  -webkit-appearance: none;
  appearance: none;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  background: #0663ce;
  cursor: pointer;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.sliderValues{
  margin-left:1.5em;
  margin-right:1.5em;
}

/*ICONS*/

.iconPadding{
  text-align: center;
  background-color: white;
  width: 7em;
  height: 3em;
  border-radius: 1em;
  border: solid;
  border-color: black;
}

.icon{
  display: inline-block;
  opacity: 0.7;
  width: 3em;
  height: 3em;
  margin: 0.15em;

}
.icon:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/*TOGGLE SWITCH CAMERA*/

.switch_button {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1.8em;
}

.switch_button input {display:none;}

.slider_button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;

  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0.3em;
}

.slider_button:before {
  position: absolute;
  content: "";
  height: 1.7em;
  width: 1.6em;
  top: 0.05em;
  left: 0.05em;
  right: 0.05em;
  bottom: 0.05em;
  background-color: white;
  transition: 0.4s;
  border-radius: 0.3em;
}

input:checked + .slider_button {
  background-color: #ca2222;
}

input:focus + .slider_button {
  box-shadow: 0 0 0.05em #2196F3;
}

input:checked + .slider_button:before {
  -webkit-transform: translateX(1.3em);
  -ms-transform: translateX(1.3em);
  transform: translateX(3.5em);
}

.slider_button:after {
  content:'ON';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: Verdana, sans-serif;
}

input:checked + .slider_button:after {
  content:'OFF';
}










