<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
  <title>Control Motor Website</title>

</head>

<body>
  <!-- Header -->
  <header class="header">Control Page Website</header>
  <div class="text row">
    <div class="column">
      <div id="inputContainer">
        <p> CONTROL CONFIGURATION: </p>
        
        <div class="centered" onchange>
          <select id="loop">
            <option value="open"> Open Loop </option>
            <option value="close"> Close Loop </option>
          </select>
        </div>

        <!-- Buttons -->

        <div class="centered margin_centered" id="buttons">
          <button class="button" id="positionButton"> Position </button>
          <button class="buttonStatic" id="velocityStaticButton"> Velocity </button>
          <button class="button" id="velocityButton"> Velocity </button>
        </div>

        <!-- Sliders -->

        <div class="rangeDiv">
          <div class="ranges-container">
            <div class="range">
              <input type="range" min="0" max="360" value="180" class="slider" id="positionSlider">
            </div>

            <div class="range">
              <input type="range" min="0" max="6" value="3" step="0.1" class="slider" id="velocitySlider">
            </div>
          </div>
        </div>

        <div class="rangeDiv">
          <div class="ranges-container">
            <div class="range">
              <input type="range" min="0" max="6" value="3" step="0.1" class="slider" id="dutySlider">
            </div>
          </div>
        </div>

        <div class="centered margin_centered">
          <div class="sliderValues" id="textPosition">
            <span>Step input value: </span> <span id="demoPosition"></span> [º]
          </div>
          <div class="sliderValues" id="textDuty">
            <span>Step input value: </span> <span id="demoDuty"></span>
          </div>
          <div class="sliderValues" id="textVelocity">
            <span> Step input value: </span><span id="demoVelocity"></span> [rad/s]
          </div>
        </div>
    


        <!-- Parameters -->
        <div id="kText">
          <!-- Text -->

          PID CONTROLLER VALUES:
          
          <div class="alignright centered">
            <span> Kp: </span> <input type="number" id="kp_value" min="0" step="0.1" value="1">
          </div>

          <div class="alignright centered">
            <span> Ki: </span> <input type="number" id="ki_value" min="0" step="0.1" value="0">
          </div>

          <div class="alignright centered">
            <span> Kd: </span> <input type="number" id="kd_value" min="0" step="0.1" value="0">
          </div>
        </div>

        <!-- Time inputs -->
        <div id="timeText">

          TIME SPECIFICATIONS:

          <div class="alignright centered">
            Sample time: <input type="number" id="sample_time" min="0.01" step="0.01" value="0.035">
          </div>

          <div class="alignright centered">
            Running time: <input type="number" id="running_time" max="10" min="0" step="1" value="5">
          </div>
        </div>

         <!-- Incons -->
        <div class="centered">
          <div class="iconPadding">
            <div class="icon">
              <input type="image" src="../static/play.png" name="saveForm" class="icon" id="play" /> </span>
            </div>
            <div class="icon">
              <input type="image" src="../static/refresh.png" name="saveForm" class="icon" id="refresh" /> </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="column">
      <div id="outputContainer">
        <p>RESULTS:</p>
        <div id="cameraText">
          <div class="centered">
            <span id="camera_text"> CAMERA IMAGE</span>
            <label class="switch_button">
              <input type="checkbox" id="cameraCheck">
              <div class="slider_button"></div>
            </label>
          </div>
          
          <div class="centered" id="camera">
            <img src="{{ url_for('video_feed') }}" alt="image" id="cameraobj" onerror="this.onerror=null;this.src='../static/camera.png';">
          </div>
          <a download="data.csv" href="../static/data.csv" id="link">Click to download data</a>
          
        </div>
        
        <div id="graph1Text">
          <div>TIME RESPONSE</div>
          <div  class="centered"> <canvas  id="ChartP_V"  class="centered" width="550" height="200" style="background-color: #FFF"></canvas> </div>
        </div>
        
        <div id="graph2Text">
          <div>CONTROL LAW</div>
          <div class="centered"> <canvas id="ChartC" width="550" height="200" style="background-color: #FFF"></canvas> </div>
        </div>
      </div>
    </div>

		<script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>
